{% extends "base.html" %}

{% block content %}

<h5><a href='/create'>Add</a> to your list or click the ID to update an item.</h5>

	<table class="table table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Added</th>
				<th>Item</th>
				<th>Due</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for item in get_list %}
			<tr>
				<td><a href="{{ url_for('update_list', item_id=item.id) }}"> {{ item.id }}  </a></td>
				<td> {{ item.create_date.strftime('%Y-%m-%d') }}
				<td> {{ item.todo_item }} </td>
				<td> {{ item.item_due_date }} </td>
    			<td> {{ form.done(value=item.id) }} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>



{% endblock %}