{% extends "base.html" %}

{% block content %}

		{% for message in form.email.errors %}
		    <div class="alert alert-warning">{{ message }}</div>
		{% endfor %}

		{% for message in form.password.errors %}
		    <div class="alert alert-warning">{{ message }}</div>
		{% endfor %}

		{% with messages = get_flashed_messages() %}
		    {% if messages %}
		    {% for message in messages %}
				<div class="alert alert-danger">{{ message }}</div>
		    {% endfor %}
		    {% endif %}
		{% endwith %}

		<form class="form-horizontal" role="form" action="{{ url_for('login') }}" method="post" name="login">
		    {{ form.hidden_tag() }}

		<div class="form-group">
		    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
		    <div class="col-sm-10">
		      {{ form.email(class="form-control", placeholder="Email Address") }}
		    </div>
		</div>

		 <div class="form-group">
		    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
		    <div class="col-sm-10">
		      {{ form.password(class="form-control", placeholder="Password") }}
			</div>
		</div>

		<div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <div class="checkbox">
		        <label>
			      Remember Me
			      {{ form.remember_me }}
				</label>
			  </div>
		     </div>
		    </div>

			<div class="form-group">
    			<div class="col-sm-offset-2 col-sm-10">
      				<button type="submit" class="btn btn-default">Sign in</button>
    			</div>
  			</div>
		</form>

{% endblock %}