{% extends "base.html" %}

{% block content %}

<h5>Change this to-do, or update the due date.</h5>

	{% for message in form.todo_item.errors %}
		<div class="alert alert-warning">{{ message }}</div>
    {% endfor %}

	{% for message in form.due_date.errors %}
		<div class="alert alert-warning">{{ message }}</div>
	{% endfor %}

	{% with messages = get_flashed_messages() %}
	    {% if messages %}
	    {% for message in messages %}
			<div class="alert alert-danger">{{ message }}</div>
	    {% endfor %}
	    {% endif %}
	{% endwith %}

<form class="form-horizontal" role="form" action="{{ url_for('update_list', item_id=todo_item.id) }}" method="post" name="update">
		{{ form.hidden_tag() }}

		<div class="form-group">
		    <label for="item" class="col-sm-2 control-label">To-do Item</label>
		    <div class="col-sm-10">
			  {{ form.todo_item(class="form-control", value=todo_item.todo_item) }}
			</div>
		</div>


		<div class="form-group">
		    <label for="due_date" class="col-sm-2 control-label">Due Date</label>
		    <div class="col-sm-10">
		{{ form.due_date(class="form-control", placeholder="e.g.: 3/25/2014") }}
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Submit</button>
			</div>
		</div>
	</form>

{% endblock %}