{% extends "base.html" %}

{% block content %}

<h5>Change this to-do, or update the due date (format m/d/y eg: 3/15/2014)</h5>

	{% for message in form.todo_item.errors %}
		<div class="alert alert-warning">{{ message }}</div>
    {% endfor %}

	{% for message in form.due_date.errors %}
		<div class="alert alert-warning">{{ message }}</div>
	{% endfor %}

	{% with messages = get_flashed_messages() %}
	    {% if messages %}
	    {% for message in messages %}
			<div class="alert alert-danger">{{ message }}</div>
	    {% endfor %}
	    {% endif %}
	{% endwith %}

<form class="form-horizontal" role="form" action="{{ url_for('update_list', item_id=todo_item.id) }}" method="post" name="update">
		{{ form.hidden_tag() }}

		<p>
		To-do Item<br>
		{{ form.todo_item(size=50, value=todo_item.todo_item) }}
		</p>

		<p>
		Due Date<br>
		{{ form.due_date(size=20) }}
		</p>

		<p>
			<input type="submit" value="Update">
		</p>
	</form>

{% endblock %}